# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Compiled
*.pyc
*.pyd
*.dll

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
